:root {
  
--bg-card: $bg-card;
--border-color: $border-color;
--accent-color: $accent-color;
--color-primary: $color-primary;
--color-secondary: $color-secondary;
--color-text-white: $color-text-white;
--color-text-black: $color-text-black;
--color-grey: $color-grey;

--font-general: "Lato", sans-serif;
--font-titles: "Roboto", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-general);
}


html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* O 100dvh para mobile */
    padding: 16px;
}

.main-content {
  flex: 1; /* 👈 ESTA ES LA MAGIA: hace que el main ocupe todo el espacio sobrante */
  padding: 1rem 0; /* Un margencito vertical para que las cards no toquen ni header ni footer */
}