@import '@/styles/variables';

.header {
    width: 100%;
    @include flexCenter(row);

    .title {
        color: $color-text-white;
        font-size: 32px;
        font-family: var(--font-titles);
        background-color: $color-primary;
        padding: 16px;
        margin: 0px auto 16px;
        width: 100%;
        border-radius: 16px;
    }
}