@import '@/styles/variables';

.containerRoutines {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    margin: 30px auto;
}

@media screen and (min-width:768px) {

    .containerRoutines {
        grid-template-columns: 1fr 1fr;
        gap: 24px;
    }
}

@media screen and (min-width:1024px) {

        .containerRoutines {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 16px;
    }
}