@import '@/styles/variables';

.footer {
    @include flexCenter(column);
    width: 100%;
    background-color: $color-grey;
    padding: 24px;
    gap: 8px;
    border-radius: 8px;

    p {
        font-size: 14px;
        color: $color-text-black;
    }

    a {
        color: $color-primary;
        font-size: 14px;
        text-decoration: none;
        font-weight: 600;
    }
}

@media screen and (min-width:768px) {

    .footer {
        flex-direction: row;
        justify-content: space-around;

        p, a {
font-size: 16px;
        }
    }
}